.container {
    max-width: 1200px;
    height: 95vh;
    margin: 0 auto;
    border: 2px solid grey;
}

.title {
    max-width: 1100px;
    padding-top: 20px;
    height: 5%;
    margin: 10px auto;
    text-align: center;
    border: 2px solid grey;
}

.description {
    max-width: 1100px;
    padding: 5px 0;
    height: 10%;
    margin: 10px auto;
    text-align: center;
    border: 2px solid grey;
}

.listOfComments {
    max-width: 1070px;
    height: 50%;
    margin: 10px auto;
    padding: 20px 0 0 30px;
    text-align: center;
    border: 2px solid grey;
}

.enterOfComment {
    width: 91%;
    height: 8vh;
    margin: 10px auto;
    text-align: center;
    border: 2px solid grey;
}

.btn {
    max-width: 200px;
    padding: 5px 20px;
    margin: 10px auto;
    text-align: center;
    border: 2px solid grey;
}

.form-addComment {
    display: flex;
    flex-direction: column;
}